.boxHorario {
  height: 300px;
  width: 350px;
  background-color: rgb(212, 229, 249);
  border-radius: 20px;
  transition: 0.5s;
  padding: 3rem;
  margin: 20px
}

.boxHorario:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgb(137, 163, 194);
}

.infoSummary {
  text-align: left;
  font-size: 18px;
  margin-top: 2rem;
}
