.admin-page {
  background-image: url(../../assets/fondoHomePage.png);
  min-width: 100%;
  height: 100vh;
}

.admin-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.error {
  font-weight: bold;
  font-size: 25px;
  color: #780000
}

#settingsIcon {
  transition: 0.5s;
}

#settingsIcon:hover {
  color: rgb(111, 161, 240);
  transition: 0.3s;
  font-size: 35;
  rotate: 15deg;
  transform: scale(1.08);
}

.settingsButtonDiv {
  display: flex;
  align-self: flex-end;
}