.summary {
  background-image: url(../../assets/fondoHomePage.png);
  height: 100vh;
  overflow: hidden;
}

.summary::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
