.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

.lessonInfo {
  display: flex;
  flex-direction: column;
  background-color: #e0e1dd;
  padding: 10px;
  border-radius: 15px;
  gap: 20px;
  margin-top: 10px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.deletebutton {
  background-color: #780000;
  transition: 0.5s;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.deletebutton:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: #d44141;
}

.editbutton {
  background-color: rgb(52 92 173);
  transition: 0.5s;
}

.editbutton:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgb(84, 130, 223);
}

.trash,
.pencil {
  color: white;
}

.deletebutton,
.editbutton {
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info2 {
  display: flex;
}

.form input {
  height: 40px;
  width: 150px;
  border: 2px solid rgb(81, 81, 203);
  border-radius: 25px;
  padding: 1rem;
}