nav.custom-navbar {
    min-height: 80px; 
    align-items: center; 
    background-color: rgb(52 92 173);
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    min-height: 45px;
}

.user-icon {
    height: 30px;
    color:#ccdbfd; 
}

.custom-navbar .navbar-item {
    color: #ccdbfd; 
}

.custom-navbar .navbar-item:hover {
    color: rgb(52 92 173); 
}