.card {
    background-color:  #e0e1dd;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    margin: 20px;
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon {
    color: #ccdbfd;
 
}

.badge {
    display: flex;
    background-color:rgb(52 92 173);
    width: 65px; 
    height: 65px;
    border-radius: 50px;
    padding: 12px;
    position: absolute;
    left: +340px;
    top: -20px
}

.winner {
    font-weight: 800;
    font-size: 50px;
    color: rgb(52 92 173);
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.info {
    font-weight: bold;
}