.instructorsAndAdd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.allInstructors {
    margin-top: 10px;
    gap: 10px; 
    overflow: auto;
    max-height: 300px;
}

.add {
    font-size: 20px;
    color: white;
    justify-self: center;
    align-self: center;
}

.addButton {
    background-color: #669bbc;
    border-radius: 50px;
    padding: 10px;
    width: 40px; 
    height: 40px 
}

.instructorsTitle{
    font-weight: 800;
    font-size: 35px;
}